

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">


  <h2></h2>

  <!-- Modal -->
    <div class="modal-dialog">
    {{f}}
      <!-- Modal content-->
      <div class="modal-content" >
        <div class="modal-header" style="padding:35px 50px;">
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;" >
           <form role="form" name="loginFormData"  ng-submit="loginForm(login)" > 
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Enter Id</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter id" name="id" ng-model="login.id">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="psw" placeholder="Enter password" name="password" ng-model="login.password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <button type="submit" class="btn btn-success btn-block" ><span class="glyphicon glyphicon-off"></span> Login</button>
              If not registered :<a href ="${pageContext.request.contextPath}/static/register.jsp">Register Here</a>
          </form> 
            <div class="alert alert-danger" ng-if="res != null" align="center" style="color: red"><span>{{res}}</span></div>
        </div>
       
      </div>
</div>
  </div> 
  {{$scope.f}}
  
  
</body>
</html>